{% extends 'base.html' %}

{% block title %}Crear Pedido{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Crear Pedido</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ pedido_form.cliente.label_tag }}
            {{ pedido_form.cliente }}
        </div>
        <div class="form-group">
            {{ pedido_form.estado.label_tag }}
            {{ pedido_form.estado }}
        </div>
        <button type="submit" class="btn btn-primary">Crear Pedido</button>
    </form>
</div>
{% endblock %}
