{% extends 'base.html' %}

{% block content %}
<h1>Lista de Productos</h1>
<a href="{% url 'gestion:crear_producto' %}" class="btn btn-success">Agregar Producto</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>${{ producto.precio_unitario }}</td>
            <td>{{ producto.cantidad_en_stock }}</td>
            <td>
                <a href="{% url 'gestion:editar_producto' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'gestion:eliminar_producto1' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                <a href="{% url 'gestion:actualizar_stock' producto.id %}" class="btn btn-warning btn-sm">Actualizar Stock</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
